body {
  background-color: #212529;
}

.jumbo {
  background-image: url("./assets/walle.jpg");
  background-repeat: no-repeat;
  background-position: 65%;
  background-position-y: 30%;
  height: 500px;
  background-color: #212529;
}

#drop-nav {
  background-color: #3f51b5;
  border: 0;
}
