body {
  background-color: #212529;
}

.jumbo {
  background-image: url("./assets/walle.jpg");
  background-repeat: no-repeat;
  background-position: 65%;
  background-position-y: 30%;
  height: 500px;
  background-color: #212529;
}

#drop-nav {
  background-color: #3f51b5;
  border: 0;
}

.placeholder-white::placeholder {
  color: white;
}

.badge-ratings {
  background-color: #3f51b5 !important;
}

.card-film-dettaglio {
  background: rgba(255, 255, 255, 0.162);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 13px 0px #ffffff;
}

.input-ricerca {
  background: rgba(255, 255, 255, 0.162);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px 0px #ffffff;
}
.input-ricerca:focus {
  background: rgba(255, 255, 255, 0.162);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px 0px #ffffff;
  color: #ffffff;
}

.input-ricerca::placeholder {
  color: rgba(255, 255, 255, 0.675);
}
